:host {
  display: flex;
  width: 100%;
}

.table {
  &__container {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      font-size: 14px;
      vertical-align: middle;
    }
    th {
      border-bottom: 1px solid #ddd;
      padding: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #eee;
      color: black;
      font-weight: 700;
      font-size: 14px;
    }
    tr {
      &:hover {
        background-color: #ddd;
      }
    }
  }

  &__header-icon {
    display: inline-block;
    vertical-align: middle;
  }

  &__icons-box {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }

  &__icons {
    color: gray;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &-dropdown {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -12px;
      right: 24px;
      border: 1px solid gray;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      span {
        cursor: pointer;
        font-size: 14px;
        padding: 4px 8px;
        &:hover {
          background-color: #eee;
          border-radius: 4px;
          font-size: 14px;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
